body{
    background-color: #222831;
    color: #EEEEEE;
}

hr{
    background-color: #00ADB5;
    height: 3px;
}

header{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #00ADB5;
    font-size: xx-large;
}

footer{
    color: #00ADB5;
}
